@charset "utf-8";
form.d-flex {
    margin-left: auto;
}

.btn-outline-success {
    color: black;
    border-color: black;
}

button.carousel-control-prev {
    background-color: #ffffff00;
    border: none;
}

button.carousel-control-next {
    background-color: #ffffff00;
    border: none;
}

p {
    margin: 0 auto;
    text-align: center;
}

